body {
  font-family: sans-serif;
}

.add_view_button {
  background: #FFF;
  border-color: #FFF;
  border-width: 0px;
}

.title, .tag {
  padding: 2px 4px 2px 4px;
  border: 1px;
  border-radius: 2px;
}

table {
  text-align: left;
  width: 170px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table{
  display: inline-block;
  margin-right: 30px;
}

td {
  border: 1px solid #444444;
  border-radius: 4px;
  border-color: #b2b2b2;
  box-shadow: 0px 0px 2px gray;
  padding: 10px;
}

.title {
  background: #FFDDA6;
  margin-left: 3px;
}

.cells {
  width: 400px;
}

.name {
  font-size: 15px;
  font-weight: bold;
}

.name_cell {
  padding-right: 10px;
  margin-bottom: 5px;
  padding: 0px;
}

.tag {
  font-size: 12px;
  background-color: #CCD1FF;
}
