html {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.left_screen, .right_screen {
  margin: 0;
  padding: 0;
}

#title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.left_screen {
  width: 60%;
  height: 100%;
  float: left;
  background: #EDEDED;
}

.right_screen {
  margin-top: 15%;
  width: 40%;
  display: block;
  float: right;
  background: white;
}


.main_copy {
  font-size: 30px;
  font-weight: bold;
}

.main_copy, .sub_copy, .login{
  justify-content: center;
  display: flex;
}

.sub_copy, .google_login, .faceboox_login {
  color: gray;
}

.login{
  flex-wrap: wrap;
}

.google_login, .faceboox_login {
  border: 1px solid black;
  width: 250px;
  margin: 10px;
  height: 40px;
}
